.section {
    margin-bottom: 4rem;

    &-header {
        border-bottom: 2px solid $primary;
        padding-bottom: 0.5rem;
        margin-bottom: 2rem;

        h2 {
            font-size: 2rem;
            font-weight: 400;
            color: $text-dark;
        }
    }
}
