<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awards</title>

</head>
<body>
    <div class="container">
        <h1>Awards</h1>
<ul>
<li>
<p>Kashmir Singh Manhas Scholarship in Applied Science, 2023, <strong>Issued by</strong> <a href="https://www.ubc.ca/">The University of British Columbia</a>, <strong>2,700.00 CAD</strong> awarded on <strong>the recommendation of the Faculty of Applied Science</strong>, in consultation with the <strong>Faculty of Graduate and Postdoctoral Studies</strong> in 2023.               </p>
</li>
<li>
<p>Carl and Elsie Halterman Scholarship, 2023, <strong>Issued by</strong> <a href="https://www.ubc.ca/">The University of British Columbia</a>, <strong>1,675.00 CAD</strong> awarded on <strong>the recommendation of the Faculty of Applied Science</strong>, in consultation with the <strong>Faculty of Graduate and Postdoctoral Studies</strong> in 2023.               </p>
</li>
<li>
<p>CIM Vancouver branch's Student-Industry Night Award, 2023, <strong>Issued by</strong> CIM | <a href="https://www.cim.org/">The Canadian Institute of Mining, Metallurgy and Petroleum</a>, <strong>2,500.00 CAD</strong> awarded on <strong>the recommendation of the Faculty of Applied Science</strong>, in consultation with the <strong>Faculty of Graduate and Postdoctoral Studies</strong> in 2023.               </p>
</li>
<li>
<p>Marie Sklodowska-Curie Postdoctoral Fellowship, 2022, <strong>Issued by</strong> <a href="https://research-and-innovation.ec.europa.eu/funding/funding-opportunities/funding-programmes-and-open-calls/horizon-2020_en">EU Horizon 2020 Research and Innovation Program</a>, <a href="https://marie-sklodowska-curie-actions.ec.europa.eu/actions/postdoctoral-fellowships">Marie Sklodowska-Curie Postdoctoral Fellowship</a> in associated with <a href="https://www.ul.ie/">University of Limerick</a>. A total of <strong>75,424.00 Euros</strong>. Qualified based on (1) having a MSc degree + (2) at least 4 years of research experience in 2019.               </p>
</li>
<li>
<p>Research Project Replacement to National Service, 2015, <strong>Issued by</strong> <a href="https://www.linkedin.com/company/iran's-national-elites-foundation-%D8%A8%D9%86%DB%8C%D8%A7%D8%AF-%D9%85%D9%84%DB%8C-%D9%86%D8%AE%D8%A8%DA%AF%D8%A7%D9%86/">Iran’s National Elites Foundation</a>, support program for research-based <a href="https://www.irb-cisr.gc.ca/en/country-information/rir/Pages/index.aspx?doc=458758">National Service</a> in 2015.                 </p>
</li>
</ul>
    </div>
    
    <footer>
        <div class="container">
            
        </div>
    </footer>
</body>
</html>