<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manuscript</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="header-content">
            <blockquote>
<p>This is a <strong>personal</strong> page, and all information presented here is for personal use and reference only, and I do not represent any organization or employer.                           </p>
</blockquote>
        </div>
    </header>
    
    <nav>
        <div class="nav-container">
            <a href="index.html" class="">Home</a><a href="education.html" class="">Education</a><a href="experience.html" class="">Experience</a><a href="awards.html" class="">Awards</a><a href="blog.html" class="active">Blog</a>
        </div>
    </nav>
    
    <div class="container">
        
        <div class="card">
            
            <h1>Blog</h1>
<h2>Post 1</h2>
        </div>
        
    </div>
    
    <footer>
        <div class="footer-content">
            <p><strong>Email</strong>: miladasgarpour@gmail.com    <br />
<strong>Mobile</strong>: 604-762-6875    <br />
<strong>LinkedIn</strong>: https://www.linkedin.com/in/makhansary     <br />
<strong>GitHub</strong>: https://github.com/makhsry/mak   <br />
<strong>Google Scholar</strong>: https://scholar.google.com/citations?hl=en&amp;user=DZzc424AAAAJ   </p>
        </div>
    </footer>
</body>
</html>