<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>talk</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="header-content">
            <blockquote>
<p>This is a <strong>personal</strong> page, and all information presented here is for personal use and reference only, and I do not represent any organization or employer.                           </p>
</blockquote>
        </div>
    </header>
    
    <nav>
        <div class="nav-container">
            <a href="index.html" class="">Home</a><a href="education.html" class="">Education</a><a href="experience.html" class="">Experience</a><a href="award.html" class="">Award</a><a href="blog.html" class="active">Blog</a>
        </div>
    </nav>
    
    <div class="container">
        
        <div class="card">
            
            <h1>Talks</h1>
<ul>
<li>
<p><a href="https://www.uottawa.ca/en">University of Ottawa</a>, Ottawa, Canada, Nov 2023. Discussed EU based funding opportunities for Canadian and <a href="https://www.mariecuriealumni.eu/">Marie Curie Alumni Association (MCAA)</a> <a href="https://www.mariecuriealumni.eu/groups/north-america-chapter">North America Chapter</a> activities.      </p>
</li>
<li>
<p><a href="https://www.ubc.ca/">The University of British Columbia</a>, Vancouver, Canada, Jul 2022. Discussed how to write a successful <a href="https://research-and-innovation.ec.europa.eu/funding/funding-opportunities/funding-programmes-and-open-calls/horizon-2020_en">Marie Skłodowska-Curie Action (MSCA)</a> Fellowship proposal.</p>
</li>
<li>
<p><a href="https://www.mpie.de/">Max-Planck-Institut für Eisenforschung</a>, Düsseldorf, Germany, Nov 2018. Discussed nanohardness from First Principles with active learning on atomic environments (<a href="https://gitlab.com/ashapeev/mlip-3">MLIP</a>).             </p>
</li>
</ul>
        </div>
        
    </div>
    
    <footer>
        <div class="footer-content">
            <p><strong>Email</strong>: miladasgarpour@gmail.com    <br />
<strong>Mobile</strong>: 604-762-6875    <br />
<strong>LinkedIn</strong>: https://www.linkedin.com/in/makhansary     <br />
<strong>GitHub</strong>: https://github.com/makhsry/mak   <br />
<strong>Google Scholar</strong>: https://scholar.google.com/citations?hl=en&amp;user=DZzc424AAAAJ   </p>
        </div>
    </footer>
</body>
</html>