<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="header-content">
            <blockquote>
<p>This is a <strong>personal</strong> page, and all information presented here is for <strong>personal use</strong> and reference only, and I do <strong>not</strong> represent any organization or employer.                           </p>
</blockquote>
        </div>
    </header>
    
    <nav>
        <div class="nav-container">
            <a href="index.html" class="">Home</a><a href="education.html" class="">Education</a><a href="experience.html" class="active">Experience</a><a href="award.html" class="">Award</a><a href="talk.html" class="">Talk</a><a href="blog.html" class="">Openings</a>
        </div>
    </nav>
    
    <div class="container">
        
        <div class="card">
            
            <h2>Materials Handling</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://mining.ubc.ca/">UBC Norman B. Keevil Institute of Mining Engineering</a>, Vancouver, Canada.</p>
<p><strong>Timeline</strong></p>
<p>2025 Sept. - 2025 Dec.</p>
<p><strong>Tasks Performed</strong>      </p>
<ul>
<li>Worked with <a href="https://scholar.google.com/citations?user=0XJW2QMAAAAJ&amp;hl=en">Dr. Ali Kuyuk</a> as Teaching Assistant for the course <strong>Materials Handling</strong>.   </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Mineral Process Engineer</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://mining.ubc.ca/">UBC Norman B. Keevil Institute of Mining Engineering</a>, Vancouver, Canada.</p>
<p><strong>Timeline</strong></p>
<p>2025 Sept. - 2025 Dec.                                  </p>
<p><strong>Tasks Performed</strong>       </p>
<ul>
<li>Worked with <a href="https://scholar.google.com/citations?user=4nJdjusAAAAJ&amp;hl=en">Dr. Scott Dunbar</a> as Teaching Assistant for <strong>Modelling and Simulation</strong>.   </li>
<li>Contributed to trainings on <strong>methods for determining the behaviour of large-scale industrial systems</strong> and their application to the design and analysis of such systems.     </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Mineral Process Engineer</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://mining.ubc.ca/">UBC Norman B. Keevil Institute of Mining Engineering</a>, Vancouver, Canada.</p>
<p><strong>Timeline</strong></p>
<p>2024 Sept. - 2024 Dec.                                 </p>
<p><strong>Tasks Performed</strong>       </p>
<ul>
<li>Worked with <a href="https://scholar.google.com/citations?user=yz11F-8AAAAJ&amp;hl=en">Dr. Sanja Miskovic</a> as Teaching Assistant for <strong>Modelling and Simulation</strong>.   </li>
<li>Contributed to trainings on <strong>methods for determining the behaviour of large-scale industrial systems</strong> and their application to the design and analysis of such systems.     </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Mineral Process Engineer</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://mining.ubc.ca/">UBC Norman B. Keevil Institute of Mining Engineering</a>, Vancouver, Canada.</p>
<p><strong>Timeline</strong></p>
<p>2023 Jan. - 2025 Dec.</p>
<p><strong>Project</strong></p>
<p>Microwave Assisted Drying of Minerals, with <a href="https://scholar.google.com/citations?user=37lpUjsAAAAJ&amp;hl=en">Dr. Ali G. Madiseh</a>.        </p>
<p><strong>Project Goal</strong></p>
<p>Collaborated with a local <strong>mining company</strong>, under <a href="https://www.mitacs.ca/our-programs/accelerate/">Mitacs Accelerate Internship</a>, to electrify kiln <strong>drying processes</strong> by integrating microwave-based heating systems aimed at <strong>reducing fossil fuel dependence</strong> (12.25 million cubic meters of natural gas), <strong>lowering economic expenses</strong> (e.g., $2.08 million carbon tax), and <strong>minimizing greenhouse gas emissions</strong> (e.g., 26,000 tons of CO2e annually).                 </p>
<p><strong>Tasks Performed</strong></p>
<ul>
<li>Measured and analyzed <strong>thermophysical</strong> and <strong>electromagnetic</strong> properties of minerals subjected to <strong>microwave heating</strong>, providing essential data for <strong>system design</strong> and <strong>process optimization</strong>.              </li>
<li>Developed and validated <strong>Finite Element Models (FEM)</strong> of <strong>coupled electromagnetic heating</strong> in <strong>COMSOL</strong> Multiphysics to guide the design and construction of a <strong>continuous on-site drying line</strong>.             </li>
<li>Successfully compiled COMSOL Multiphysics on UBC Sockeye HPC systems, ensuring proper file access, MPI fork setup, and security configurations to facilitate large-scale simulations.                     </li>
<li>Formulated <strong>atomistic and molecular modeling protocols</strong> to predict the electromagnetic properties of multicomponent materials under alternating current (AC), enhancing material design for efficient microwave heating.                 </li>
<li>Performed <strong>Density Functional Theory (DFT) calculations</strong> and developed <strong>custom Machine Learning (ML) interatomic potentials</strong> for molecular dynamics simulations; modified <strong>LAMMPS source code (C++)</strong> for high-fidelity simulations of material behaviors under microwave exposure.              </li>
<li>Created Bash and Python scripts for post-processing of simulation results, <strong>data visualization</strong>, and <strong>executive analytics</strong> to support project planning, delivery, and presentations to stakeholders.   </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Chemical Process Engineer</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://chbe.ubc.ca/">UBC Chemical and Biological Engineering Department</a>, <a href="https://www.ubc.ca/">University of British Columbia (UBC)</a>, Canada</p>
<p><strong>Timeline</strong></p>
<p>2022: Sept. - Dec.                  </p>
<p><strong>Tasks Performed</strong>     </p>
<ul>
<li>with <a href="https://scholar.google.com/citations?user=--v31HgAAAAJ&amp;hl=en">Dr. Simcha Srebnik</a> as as Teaching Assistant for <strong>Modelling and Optimization in Chemical Engineering</strong>.   </li>
<li>Skilled in modeling and optimizing <strong>industrial chemical processes</strong>, with a focus on simulating chemical reactors, emphasizing heterogeneous systems in <strong>Aspen</strong> environments.                      </li>
<li>Applied <strong>optimization techniques</strong> within Aspen platforms to enhance <strong>process performance</strong> and <strong>efficiency</strong>.                    </li>
<li>Designed and simulated <strong>crude oil distillation processes</strong> using Aspen HYSYS.                        </li>
<li>Implemented <strong>dynamic simulation</strong> and <strong>control</strong> strategies to model <strong>real-time</strong> process behavior in HYSYS.                     </li>
<li>Created <strong>process flowsheets</strong> for specialty chemicals and reactions using Aspen.                </li>
<li>Wrote/modified <strong>FORTRAN subroutines</strong> in Aspen for ad-hoc units / calculations.    </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Chemical Engineer</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://chbe.ubc.ca/">UBC Chemical and Biological Engineering Department</a>, <a href="https://www.ubc.ca/">University of British Columbia (UBC)</a>, Canada</p>
<p><strong>Timeline</strong></p>
<p>May 2022 - Dec 2022</p>
<p><strong>Project</strong>   <br />
Nanocavitation and its Mitigation in Fabricating Artificial Trees, with <a href="https://scholar.google.com/citations?user=--v31HgAAAAJ&amp;hl=en">Dr. Simcha Srebnik</a>.         </p>
<p><strong>Project Goal</strong>       </p>
<p>Investigated nanoscale water flow mechanisms to reduce <strong>nanobubble formation</strong> and ensure stable, uninterrupted transport in <strong>nanoporous channels</strong>—critical for enhancing efficiency in advanced <strong>evaporative cooling systems</strong>.  </p>
<p><strong>Tasks Performed</strong>     </p>
<ul>
<li>Conducted an in-depth literature review to establish <strong>design principles</strong> for self-driven water transport at the nanoscale.                     </li>
<li>Developed algorithms to quantitatively assess the impact of <strong>surface hydrophilicity on nanobubble</strong> nucleation and stability.                </li>
<li>Created <strong>custom computational routines</strong> for high-throughput molecular dynamics (MD) simulations using <strong>LAMMPS</strong>, tailored for complex <strong>fluid-surface interactions</strong>.                        </li>
<li>Compiled and optimized LAMMPS on UBC's Sockeye HPC environment for scalable, in-house simulation workflows.                     </li>
<li>Extended LAMMPS functionality with <strong>custom C++ modules</strong> to meet unique research needs in nanoscale flow modeling.                       </li>
<li>Implemented post-processing scripts in <strong>Python</strong> for automated extraction and visualization of simulation results, including pressure profiles, density distributions, and flow characteristics.                  </li>
<li>Collaborated with a <strong>multidisciplinary team</strong> to validate simulation results against theoretical models and experimental data, enhancing cross-domain communication and interpretation.    </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Chemical Process Engineer</h2>
<p><strong>Workplace</strong>
<a href="https://www.pmtc.ie/">Pharmaceutical Manufacturing Technology Centre (PMTC)</a>, <a href="https://bernal.ul.ie/">Bernal Institute</a>, <a href="https://www.ul.ie/">University of Limerick</a>, Ireland</p>
<p><strong>Timeline</strong></p>
<p>2022: Feb - May</p>
<p><strong>Project</strong>     </p>
<p>Fluid Bed Spray Dryer Process Monitoring and Engineering, with <a href="https://scholar.google.com/citations?user=zrrZoBkAAAAJ&amp;hl=en">Dr. Marcus O'Mahony</a>.         </p>
<p><strong>Project Goal</strong>     </p>
<p>Designed and implemented a <strong>data-driven graphical user interface</strong> for real-time <strong>monitoring</strong> and <strong>optimization</strong> of a fluid bed spray drying process by integrating in-line/offline sensor data streams and advanced analytics into an interactive platform.  </p>
<p><strong>Tasks Performed</strong>     </p>
<ul>
<li>Developed an interactive <strong>graphical user interface (GUI) in MATLAB</strong> for real-time data <strong>visualization</strong> and <strong>diagnostics</strong>, supporting both in-line and offline sensor data integration.                     </li>
<li>Integrated and processed <strong>diverse sensor types</strong> including CCD camera feeds (image-based analysis), NIR sensors (unlabeled time-series), Raman spectroscopy probes (localized unstructured signals), and valve states (binary control signals).                      </li>
<li>Performed extensive data preprocessing and cleansing to handle <strong>high-dimensional and heterogeneous datasets</strong> with missing values and sensor noise.                    </li>
<li>Applied <strong>pattern recognition</strong> and signal analysis techniques to identify operational trends, detect anomalies, and support process optimization.                </li>
<li>Designed pipelines for real-time data ingestion and synchronization from multiple sensor sources, ensuring temporal alignment and reliable analytics under dynamic plant conditions.                  </li>
<li>Collaborated with process engineers and control specialists to translate sensor insights into actionable process improvements and control strategies.    </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Marie Sklodowska-Curie Postdoctoral Fellow</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://sspc.ie/">Synthesis and Solid State Pharmaceutical Centre (SSPC)</a>, <a href="https://bernal.ul.ie/">Bernal Institute</a>, <a href="https://www.ul.ie/">University of Limerick</a>, Ireland</p>
<p><strong>Timeline</strong></p>
<p>2019: Oct. - 2022: Feb.</p>
<p><strong>Project</strong>    </p>
<p>Continueous Cocrystalization via Hot Melt Extrusion in Phamaceuticals, with <a href="https://scholar.google.com/citations?user=h4O37BYAAAAJ&amp;hl=en">Dr. Gavin Walker</a>.    </p>
<p><strong>Project Goal</strong></p>
<p>Developed a <strong>data-driven digital twin framework</strong> to address low-yield challenges in continuous crystallization, aiming to enhance product quality, optimize production, and reduce waste and operational costs in pharmaceutical manufacturing.                       </p>
<p><strong>Tasks Performed</strong>       </p>
<ul>
<li>Conducted detailed <strong>root-cause analysis</strong> of unit operations to identify inefficiencies affecting yield and product purity in <strong>continuous crystallization systems</strong>.   </li>
<li>Evaluated the influence of <strong>critical process parameters</strong>—temperature, residence time, screw configuration, and rotation speed—on crystallization outcomes, using both experimental data and simulation insights.     </li>
<li>Designed and refined <strong>process strategies</strong>* to maximize desired product formation, suppress by-product generation, and reduce procurement and disposal costs.            </li>
<li>Built a digital twin using advanced <strong>data analytics</strong> and implemented a <strong>machine learning-based process controller</strong>, integrating both real-time (in-line) &amp; historical (offline) <strong>sensor data streams</strong>-Raman spectroscopy.     </li>
<li>Utilized Density Functional Theory (DFT) and molecular dynamics (MD) simulations to analyze <strong>molecular interactions</strong>, guiding optimal cocrystal formation <strong>pathways</strong> and identifying <strong>key process descriptors</strong>.    </li>
<li>Integrated <strong>Raman spectrometer</strong> data into a live control system, enabling real-time feedback and control within a continuous manufacturing environment through predictive ML models.  </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>AI &amp; ML in Material Sciences</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://skoltech.ru/en/">Skolkovo Institute of Science and Technology (SkolTech)</a>, Russia</p>
<p><strong>Timeline</strong></p>
<p>2018: May - Oct.</p>
<p><strong>Project</strong>    </p>
<p>Machine Learning Interatomic Potentials for Materials Discovery, with <a href="https://scholar.google.com/citations?hl=en&amp;user=NMyIbIwAAAAJ">Dr. Alexander Shapeev</a>.     </p>
<p><strong>Project Goal</strong>        </p>
<p>Aimed to <strong>expedite the discovery and characterization</strong> of hard materials for use in high-performance environments—such as aerospace, automotive, mining, and manufacturing—by developing and deploying <strong>ML-driven interatomic potentials</strong> for predictive modeling.  </p>
<p><strong>Tasks Performed</strong>     </p>
<ul>
<li>Assessed candidate <strong>hard materials</strong> for industrial applications, focusing on performance under mechanical stress and durability in <strong>extreme conditions</strong>.      </li>
<li>Conducted <strong>nanoindentation</strong> research to evaluate <strong>mechanical properties</strong> such as hardness and elastic modulus of synthesized materials.        </li>
<li>Developed validation models to discuss experimental results with simulation predictions, extracting insights into <strong>material failure</strong> modes and defect behavior.       </li>
<li>Implemented and trained <strong>Machine Learning Interatomic Potentials</strong> (MLIPs) using active learning strategies to improve accuracy with minimal data.       </li>
<li>Automated molecular dynamics (MD) simulations using LAMMPS and density functional theory (DFT) calculations using VASP for large-scale material screening <strong>across multiple HPC clusters</strong>.      </li>
<li>Wrote modular and efficient code in Python and Bash, managing environments and version control using Git.  </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Process Engineer</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://www.cityu.edu.hk/see/">School of Energy and Environment</a>, <a href="https://www.cityu.edu.hk/">City University of Hong Kong, Hong Kong</a></p>
<p><strong>Timeline</strong></p>
<p>2017 Nov. - 2018 May</p>
<p><strong>Project</strong>    </p>
<p>Design of Adorptive Systems for Direct Gas Capture and Separation, with <a href="https://scholar.google.com/citations?user=AWnBD4kAAAAJ">Dr. Jin Shang</a>.    </p>
<p><strong>Project Goal</strong></p>
<p>Developed a novel process for the direct capture, separation, and solid-state storage of nitrogen and carbon dioxide gases under ambient conditions using moist lithium as a reactive adsorbent, with an emphasis on circular material recovery for sustainable gas handling and sequestration.                       </p>
<p><strong>Tasks Performed</strong>       </p>
<ul>
<li>Designed and optimized gas capture protocols for ambient-condition adsorption of nitrogen and carbon dioxide on moist lithium, enabling safe and efficient conversion into solid-state lithium nitride for storage and transport.                    </li>
<li>Applied principles of <strong>reaction engineering</strong> and separation to evaluate process efficiency, yield, and purity of captured products.                 </li>
<li>Conducted Density Functional Theory (DFT) calculations to map <strong>reaction pathways</strong> between lithium and target gases, identifying favorable thermodynamic and kinetic conditions.                 </li>
<li>Developed microkinetic and kinetic Monte Carlo models to simulate <strong>reaction dynamics</strong> and <strong>upscale lab-scale findings for process-scale feasibility</strong>.             </li>
<li>Demonstrated <strong>on-demand recovery</strong> of nitrogen and lithium through electrochemical regeneration, showcasing <strong>material circularity</strong> and long-term process sustainability.      </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Visiting Researcher</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://www.ipcas.ac.cn/">Institute of Physics &amp; Beijing National Lab for Condensed Matter Physics, Chinese Academy of Sciences</a>, Beijing, China</p>
<p><strong>Timeline</strong></p>
<p>2017: Sept. - Nov.</p>
<p><strong>Project</strong></p>
<p>with <a href="https://scholar.google.com/citations?user=HY7q_pcAAAAJ">Dr. Carlos-Andres Palma</a>.                       </p>
<p><strong>Tasks Performed</strong></p>
<ul>
<li>Gained hands-on expertise in <strong>CHARMM for (bio)molecular modeling</strong>, focusing on simulation and analysis of organic and biological matter at the atomic level.            </li>
<li>Developed custom tools in <strong>Fortran</strong> and <strong>Python</strong> for simulation pre-processing and post-analysis, including data parsers, Fourier transforms, and specialized routines for trajectory and energy analysis.    </li>
</ul>
        </div>
        
    </div>
    
    <footer>
        <div class="footer-content">
            <p><strong>Email</strong>: <a href="mailto:miladasgarpour@gmail.com">miladasgarpour@gmail.com</a>    <br />
<strong>Mobile</strong>: 604-762-6875    <br />
<strong>LinkedIn</strong>: <a href="https://www.linkedin.com/in/makhansary">https://www.linkedin.com/in/makhansary</a>     <br />
<strong>GitHub</strong>: <a href="https://github.com/makhsry/mak">https://github.com/makhsry/mak</a>   <br />
<strong>Google Scholar</strong>: <a href="https://scholar.google.com/citations?hl=en&amp;user=DZzc424AAAAJ">https://scholar.google.com/citations?hl=en&amp;user=DZzc424AAAAJ</a>   </p>
        </div>
    </footer>
</body>
</html>