<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="header-content">
            <blockquote>
<p>This is a <strong>personal</strong> page, and all information presented here is for personal use and reference only, and I do not represent any organization or employer.                           </p>
</blockquote>
        </div>
    </header>
    
    <nav>
        <div class="nav-container">
            <a href="index.html" class="">Home</a><a href="education.html" class="">Education</a><a href="experience.html" class="active">Experience</a><a href="award.html" class="">Award</a><a href="blog.html" class="">Blog</a>
        </div>
    </nav>
    
    <div class="container">
        
        <div class="card">
            
            <h2>Mining Engineer</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://mining.ubc.ca/">UBC Norman B. Keevil Institute of Mining Engineering</a>, Vancouver, Canada.</p>
<p><strong>Timeline</strong></p>
<p>2025 Sept. - 2025 Dec.</p>
<p><strong>Tasks Performed</strong>      </p>
<ul>
<li>Worked with <a href="https://scholar.google.com/citations?user=0XJW2QMAAAAJ&amp;hl=en">Dr. Ali Kuyuk</a> as Teaching Assistant for the course <strong>Materials Handling</strong>.   </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Mineral Process Engineer</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://mining.ubc.ca/">UBC Norman B. Keevil Institute of Mining Engineering</a>, Vancouver, Canada.</p>
<p><strong>Timeline</strong></p>
<p>2025 Sept. - 2025 Dec.                                  </p>
<p><strong>Tasks Performed</strong>       </p>
<ul>
<li>Worked with <a href="https://scholar.google.com/citations?user=4nJdjusAAAAJ&amp;hl=en">Dr. Scott Dunbar</a> as Teaching Assistant for <strong>Modelling and Simulation</strong>.   </li>
<li>Contributed to trainings on <strong>methods for determining the behaviour of large-scale industrial systems</strong> and their application to the design and analysis of such systems.     </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Mineral Process Engineer</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://mining.ubc.ca/">UBC Norman B. Keevil Institute of Mining Engineering</a>, Vancouver, Canada.</p>
<p><strong>Timeline</strong></p>
<p>2024 Sept. - 2024 Dec.                                 </p>
<p><strong>Tasks Performed</strong>       </p>
<ul>
<li>Worked with <a href="https://scholar.google.com/citations?user=yz11F-8AAAAJ&amp;hl=en">Dr. Sanja Miskovic</a> as Teaching Assistant for <strong>Modelling and Simulation</strong>.   </li>
<li>Contributed to trainings on <strong>methods for determining the behaviour of large-scale industrial systems</strong> and their application to the design and analysis of such systems.     </li>
</ul>
        </div>
        
        <div class="card">
            
            <h2>Mineral Process Engineer</h2>
<p><strong>Workplace</strong></p>
<p><a href="https://mining.ubc.ca/">UBC Norman B. Keevil Institute of Mining Engineering</a>, Vancouver, Canada.</p>
<p><strong>Timeline</strong></p>
<p>2023 Jan. - 2025 Dec.</p>
<p><strong>Project</strong></p>
<p>Microwave Assisted Drying of Minerals, with <a href="https://scholar.google.com/citations?user=37lpUjsAAAAJ&amp;hl=en">Dr. Ali G. Madiseh</a>.        </p>
<p><strong>Project Goal</strong></p>
<p>Collaborated with a local <strong>mining company</strong>, under <a href="https://www.mitacs.ca/our-programs/accelerate/">Mitacs Accelerate Internship</a>, to electrify kiln <strong>drying processes</strong> by integrating microwave-based heating systems aimed at <strong>reducing fossil fuel dependence</strong> (12.25 million cubic meters of natural gas), <strong>lowering economic expenses</strong> (e.g., $2.08 million carbon tax), and <strong>minimizing greenhouse gas emissions</strong> (e.g., 26,000 tons of CO2e annually).                 </p>
<p><strong>Tasks Performed</strong></p>
<ul>
<li>Measured and analyzed <strong>thermophysical</strong> and <strong>electromagnetic</strong> properties of minerals subjected to <strong>microwave heating</strong>, providing essential data for <strong>system design</strong> and <strong>process optimization</strong>.              </li>
<li>Developed and validated <strong>Finite Element Models (FEM)</strong> of <strong>coupled electromagnetic heating</strong> in <strong>COMSOL</strong> Multiphysics to guide the design and construction of a <strong>continuous on-site drying line</strong>.             </li>
<li>Successfully compiled COMSOL Multiphysics on UBC Sockeye HPC systems, ensuring proper file access, MPI fork setup, and security configurations to facilitate large-scale simulations.                     </li>
<li>Formulated <strong>atomistic and molecular modeling protocols</strong> to predict the electromagnetic properties of multicomponent materials under alternating current (AC), enhancing material design for efficient microwave heating.                 </li>
<li>Performed <strong>Density Functional Theory (DFT) calculations</strong> and developed <strong>custom Machine Learning (ML) interatomic potentials</strong> for molecular dynamics simulations; modified <strong>LAMMPS source code (C++)</strong> for high-fidelity simulations of material behaviors under microwave exposure.              </li>
<li>Created Bash and Python scripts for post-processing of simulation results, <strong>data visualization</strong>, and <strong>executive analytics</strong> to support project planning, delivery, and presentations to stakeholders.   </li>
</ul>
        </div>
        
    </div>
    
    <footer>
        <div class="footer-content">
            <p><strong>Email</strong>: miladasgarpour@gmail.com    <br />
<strong>Mobile</strong>: 604-762-6875    <br />
<strong>LinkedIn</strong>: https://www.linkedin.com/in/makhansary     <br />
<strong>GitHub</strong>: https://github.com/makhsry/mak   <br />
<strong>Google Scholar</strong>: https://scholar.google.com/citations?hl=en&amp;user=DZzc424AAAAJ   </p>
        </div>
    </footer>
</body>
</html>