<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talks</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="header-content">
            <blockquote>
<p>This is a <strong>personal</strong> page, and all information presented here is for <strong>personal use</strong> and reference only, and I do <strong>not</strong> represent any organization or employer.                           </p>
</blockquote>
        </div>
    </header>
    
    <nav>
        <div class="nav-container">
            <a href="index.html" class="">Home</a><a href="education.html" class="">Education</a><a href="experience.html" class="">Experience</a><a href="award.html" class="">Award</a><a href="talk.html" class="">Talk</a><a href="blog.html" class="">Openings</a>
        </div>
    </nav>
    
    <div class="container">
        
        <div class="card">
            
            <h2>EU based funding opportunities for Canadian and <a href="https://www.mariecuriealumni.eu/">Marie Curie Alumni Association (MCAA)</a> - <a href="https://www.mariecuriealumni.eu/groups/north-america-chapter">North America Chapter</a> activities</h2>
<p><strong>Venue</strong></p>
<p><a href="https://www.uottawa.ca/en">University of Ottawa</a>, Ottawa, Canada</p>
<p><strong>Date</strong></p>
<p>Nov 2023</p>
        </div>
        
        <div class="card">
            
            <h2>Writing a Successful <a href="https://research-and-innovation.ec.europa.eu/funding/funding-opportunities/funding-programmes-and-open-calls/horizon-2020_en">Marie Skłodowska-Curie Action (MSCA)</a> Fellowship Proposal</h2>
<p><strong>Venue</strong></p>
<p><a href="https://www.ubc.ca/">The University of British Columbia</a>, Vancouver, Canada</p>
<p><strong>Date</strong></p>
<p>Jul 2022</p>
        </div>
        
        <div class="card">
            
            <h2>Nanohardness from First Principles with Active Learning on Atomic Environments (<a href="https://gitlab.com/ashapeev/mlip-3">MLIP</a>)</h2>
<p><strong>Venue</strong></p>
<p><a href="https://www.mpie.de/">Max-Planck-Institut für Eisenforschung</a>, Düsseldorf, Germany</p>
<p><strong>Date</strong></p>
<p>Nov 2018</p>
        </div>
        
    </div>
    
    <footer>
        <div class="footer-content">
            <p><strong>Email</strong>: <a href="mailto:miladasgarpour@gmail.com">miladasgarpour@gmail.com</a>    <br />
<strong>Mobile</strong>: 604-762-6875    <br />
<strong>LinkedIn</strong>: <a href="https://www.linkedin.com/in/makhansary">https://www.linkedin.com/in/makhansary</a>     <br />
<strong>GitHub</strong>: <a href="https://github.com/makhsry/mak">https://github.com/makhsry/mak</a>   <br />
<strong>Google Scholar</strong>: <a href="https://scholar.google.com/citations?hl=en&amp;user=DZzc424AAAAJ">https://scholar.google.com/citations?hl=en&amp;user=DZzc424AAAAJ</a>   </p>
        </div>
    </footer>
</body>
</html>