<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talks</title>
    <link rel="stylesheet" href="/assets/site/style/css/main.css">
</head>
<body>
    <div class="container">
        <h1>Talks</h1>
<details open>
  <summary>
  <strong>details</strong>
  </summary>             

 > <br>     
 >          
 > ## **Panelist**, [University of Ottawa](https://www.uottawa.ca/en), Ottawa, Canada, Nov 2023.       
 >> Discussed EU based funding opportunities for Canadian and [Marie Curie Alumni Association (MCAA)](https://www.mariecuriealumni.eu/) [North America Chapter](https://www.mariecuriealumni.eu/groups/north-america-chapter) activities
 >                                
 > ## **Panelist**, [The University of British Columbia](https://www.ubc.ca/), Vancouver, Canada, Jul 2022.                  
 >> Discussed how to write a successful [Marie Skłodowska-Curie Action (MSCA)](https://research-and-innovation.ec.europa.eu/funding/funding-opportunities/funding-programmes-and-open-calls/horizon-2020_en) Fellowship proposal.             
 >                    
 > ## **Presenter**, [Max-Planck-Institut für Eisenforschung](https://www.mpie.de/), Düsseldorf, Germany, Nov 2018.              
 >
 >> Discussed nanohardness from First Principles with active learning on atomic environments ([MLIP](https://gitlab.com/ashapeev/mlip-3))                                           
 > ---        
</details>

<pre class="codehilite"><code>
</code></pre>
    </div>
    
    <footer>
        <div class="container">
            
        </div>
    </footer>
</body>
</html>