<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talks</title>

</head>
<body>
    <div class="container">
        <h1>Talks</h1>
<ul>
<li>
<p><a href="https://www.uottawa.ca/en">University of Ottawa</a>, Ottawa, Canada, Nov 2023. Discussed EU based funding opportunities for Canadian and <a href="https://www.mariecuriealumni.eu/">Marie Curie Alumni Association (MCAA)</a> <a href="https://www.mariecuriealumni.eu/groups/north-america-chapter">North America Chapter</a> activities.      </p>
</li>
<li>
<p><a href="https://www.ubc.ca/">The University of British Columbia</a>, Vancouver, Canada, Jul 2022. Discussed how to write a successful <a href="https://research-and-innovation.ec.europa.eu/funding/funding-opportunities/funding-programmes-and-open-calls/horizon-2020_en">Marie Skłodowska-Curie Action (MSCA)</a> Fellowship proposal.</p>
</li>
<li>
<p><a href="https://www.mpie.de/">Max-Planck-Institut für Eisenforschung</a>, Düsseldorf, Germany, Nov 2018. Discussed nanohardness from First Principles with active learning on atomic environments (<a href="https://gitlab.com/ashapeev/mlip-3">MLIP</a>).             </p>
</li>
</ul>
    </div>
    
    <footer>
        <div class="container">
            
        </div>
    </footer>
</body>
</html>