.news-list {
    list-style: none;

    .news-item {
        padding: 1rem 0;
        border-bottom: 1px solid $border-light;

        &:last-child {
            border-bottom: none;
        }

        .news-date {
            font-size: 0.9rem;
            color: #999;
            margin-bottom: 0.25rem;
        }

        .news-title {
            font-size: 1.1rem;
            font-weight: 600;
            color: $primary;
        }
    }
}
